[Unit]
Description=Foundry-Discord Relay
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/foundry-discord-bridge/relay
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
