/* Foundry-Discord Bridge */

.fdb-message {
  display: flex;
  align-items: center;
  gap: 6px;
}

.fdb-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.fdb-author {
  font-weight: 700;
  color: #5865f2;
}

.fdb-content {
  color: #dcddde;
}
