<form autocomplete="off">
    <div class="form-group">
        <label>{{localize "FDB.Settings.Enabled.Name"}}</label>
        <input type="checkbox" name="enabled" {{#if enabled}}checked{{/if}} />
        <p class="notes">{{localize "FDB.Settings.Enabled.Hint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "FDB.Settings.Token.Name"}}</label>
        <input type="text" name="discordToken" value="{{discordToken}}" />
        <p class="notes">{{localize "FDB.Settings.Token.Hint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "FDB.Settings.GuildId.Name"}}</label>
        <input type="text" name="discordGuildId" value="{{discordGuildId}}" />
        <p class="notes">{{localize "FDB.Settings.GuildId.Hint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "FDB.Settings.ChannelId.Name"}}</label>
        <input type="text" name="discordChannelId" value="{{discordChannelId}}" />
        <p class="notes">{{localize "FDB.Settings.ChannelId.Hint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "FDB.Settings.WebhookUrl.Name"}}</label>
        <input type="text" name="discordWebhookUrl" value="{{discordWebhookUrl}}" />
        <p class="notes">{{localize "FDB.Settings.WebhookUrl.Hint"}}</p>
    </div>

    <button type="submit">
        <i class="fas fa-save"></i> {{localize "FDB.ConfigMenu.Save"}}
    </button>
</form>
